# Зависимости
node_modules/
dist/
build/

# Окружение
.env
.env.local
.env.production

# Логи
*.log

# ОС
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
tmp/

# Prisma
.prisma/
prisma/migrations/

# Тесты
coverage/

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/pubspec.lock
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/build/

# Firebase
frontend/android/app/google-services.json
frontend/android/key.properties
frontend/android/*.jks
frontend/android/app/*.jks
frontend/android/app/*.jks.old
firebase-service-account.json

# Загрузки
uploads/
*-firebase-adminsdk-*.json
